<div cards *ngIf="selectedContent">
  <obum-card *ngFor="let c of selectedContent" [content]="c"></obum-card>
</div>

<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item (click)="toggleAll($event)">
    <mat-checkbox
      [checked]="selectedTags.length === tags.length"
      (click)="toggleAll($event)"
    ></mat-checkbox>
    <mat-chip>
      <mat-chip-avatar (click)="toggleAll($event)">
        <img [src]="'assets/svgs/select.svg'" alt="" />
      </mat-chip-avatar>
      {{ selectedTags.length === tags.length ? 'De-Select All' : 'Select All' }}
    </mat-chip>
  </button>
  <mat-divider></mat-divider>

  <ng-container *ngFor="let tag of tags; last as isLast">
    <button mat-menu-item (click)="toggleTag($event, tag)">
      <mat-checkbox
        [checked]="selectedTags.includes(tag)"
        (click)="toggleTag($event, tag)"
      ></mat-checkbox>
      <mat-chip>
        <mat-chip-avatar (click)="toggleTag($event, tag)">
          <img [src]="'assets/svgs/' + tag.svg + '.svg'" alt="" />
        </mat-chip-avatar>
        {{ tag.title ?? capitalize(tag.svg) }}
      </mat-chip>
    </button>
    <mat-divider *ngIf="!isLast"></mat-divider>
  </ng-container>
</mat-menu>

<button mat-fab title="Filter" [matMenuTriggerFor]="menu">
  <img src="assets/svgs/filter.svg" alt="Filter" />
</button>
