@import url("styles/layout/layout-styles.css");
@import url("styles/social-icons/social-icons.css");
@import url("styles/text-styles.css");
@import url("styles/content-styles.css");
@import url("styles/navbar-styles.css");

/**
 *  normalize
 */
html, body {
	margin: 0;
	padding: 0;
}

body {
  overflow: scroll;
}
