/**
 * contains the styles when the desktop is large
 */

@media screen and (min-width: 1400px) {

	/*
	 * styles the main background in large desktops
	 */
	main {
		padding-left: 7.5%;
		padding-right: 7.5%;
		padding-top: 60px;
		padding-bottom: 80px;
		margin: 0;
		background-color: hsl(238, 92%, 97%);
	}

	#profile-pic-mobile {
		display: none;
	}

	/*
	 * The outer border of the large desktop design
	 */
	#outer-body-content {
		max-width: 1500px;
		border-radius: 75px 75px 75px 75px;
		border: 7.5px solid hsl(238, 82%, 87%);
		margin: 0 auto;
		padding: 7.5px;
	}

	/*
	 * the inner body of the large design
	 */
	#middle-body-content {
		border-radius: 64px 64px 64px 64px;
		background-color: hsl(238, 82%, 87%);
		z-index: 2;
	}

	/*
	 * styles the header section
	 */
	#header {
		display: flex;
	}

	/*
	 * Styles the profile picture in large desktop places at top right position
	 */
	 #profile-pic-desktop {
	 	width: 320px;
	 	height: 320px;
	 	border-radius: 250px;
	 	margin: 30px;
	 	margin-bottom: 35px;
	 	border: 7.5px solid hsl(238, 92%, 97%);
	 	z-index: 3;
	 }

	/*
	 * Styles the right portion of header
	 */
	#header-right {
		width: 1100px;
		margin-top: 15px;
		display: flex;
		flex-direction: column;
	}

	/*
	 * styles hr
	 */
	hr {
		margin: 0 72px;
		height: 2px;
		color: hsl(264, 4%, 24%);
	}

	/*
	 * styles the inner interior
	 */
	#inner-body-content {
		padding: 48px;
		border-radius: 0px 0px 64px 64px;
	}

	#footer {
		display: none;
	}

	/*
	 * Styles the footer
	 */
	footer {
		background-color: hsl(238, 88%, 18%);
		color: hsl(238, 92%, 97%);
		padding: 15px 0 15px 0;
		margin: 0;
	}
}
