<ng-container *ngIf="content">
  <mat-card class="mat-elevation-z2">
    <mat-chip-list>
      <ng-container *ngFor="let tag of content.tags">
        <mat-menu #menu="matMenu">
          <a
            mat-menu-item
            [href]="tagLink(tag.svg)"
            rel="noopener noreferrer"
            target="_blank"
            *ngIf="tagAboutsKeys.includes(tag.svg)"
          >
            {{
              ['dev', 'hashnode', 'medium'].includes(tag.svg) ? 'My' : 'About'
            }}
            {{ tag.title ?? capitalize(tag.svg) }}
            <img src="assets/svgs/open-in-new.svg" alt="" />
          </a>
        </mat-menu>
        <mat-chip
          [matMenuTriggerFor]="tagAboutsKeys.includes(tag.svg) ? menu : null"
        >
          <mat-chip-avatar>
            <img [src]="'assets/svgs/' + tag.svg + '.svg'" alt="" />
          </mat-chip-avatar>
          {{ tag.title ?? capitalize(tag.svg) }}
        </mat-chip>
      </ng-container>
    </mat-chip-list>

    <img
      mat-card-image
      [src]="
        'assets/images/' +
        content.image.name +
        ([
          'blog',
          'ctlearn',
          'serverless-architecture',
          'walletsmslockr'
        ].includes(content.image.name)
          ? '.png'
          : '.jpg')
      "
      [alt]="content.image.alt"
    />

    <p date *ngIf="content.date">
      {{ months[content.date.month] }} {{ content.date.year }}
    </p>

    <mat-card-title>{{ content.title }}</mat-card-title>

    <mat-card-content>
      <p>{{ content.description }}</p>
    </mat-card-content>

    <mat-card-actions>
      <a
        *ngFor="let link of content.links"
        mat-stroked-button
        [href]="link.href"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span>{{ link.title }}</span
        ><img
          [src]="'assets/svgs/' + link.svg + '.svg'"
          class="card-icon svg-icon"
          alt=""
        />
      </a>
    </mat-card-actions>
  </mat-card>
</ng-container>
