[container] {
  padding-top: 96px;
  padding-bottom: 48px;
}

[img-container] {
  width: 228px;
  height: 228px;
  border-radius: 50%;
  margin: 0 auto 16px;
  background-color: currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

[img-container] img {
  width: 220px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px gray;
}

[full-name] {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
}

[obum-text-container] {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;

  span {
    font-weight: bold;
    font-size: 1.125rem;
    letter-spacing: 0.8px;
  }
}

[profile-icons] {
  text-align: center;
  margin-bottom: 1rem;
}

.profile-icon {
  width: 30px;
  margin-left: 8px;
}

[container] ul {
  text-align: left;
  max-width: 420px;
  margin: 0 auto;

  li {
    margin-bottom: 2px;
  }
}

@media (min-width: 768px) {
  [container] {
    padding-top: 32px;
  }
}

@media (min-width: 768px) and (max-width: 991.99px) {
  [container] {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  [img-container] {
    margin: 0;
  }

  [full-name],
  [obum-text-container] {
    width: fit-content;
    padding-left: 20px;
  }

  [profile-icons] {
    text-align: left;
    padding-left: 16px;
  }
}
