<div container>
  <div img-container>
    <img src="assets/images/obum.jpg" alt="Obum" />
  </div>
  <div>
    <h1 obum-text>Obum</h1>
    <h4 full-name>(Obumuneme Nwabude)</h4>
    <div profile-icons>
      <a
        target="_blank"
        rel="noreferrer noopener"
        *ngFor="let p of profiles"
        [href]="p.link"
        [title]="capitalize(p.icon)"
      >
        <img [src]="'assets/svgs/' + p.icon + '.svg'" class="profile-icon" />
      </a>
    </div>
    <ul>
      <li>Mobile and Fullstack Web Developer</li>
      <li>Loves the Flutter Framework</li>
      <li>Active in Tech Communities</li>
      <li>Microsoft Learn Student Ambassador</li>
      <li>Writes Articles and Tells Stories</li>
    </ul>
  </div>
</div>
