@import '@angular/material/theming';
@include mat-core();

$palette: mat-palette($mat-light-blue);
$light-theme: mat-light-theme($palette, $palette);
$dark-theme: mat-dark-theme($palette, $palette);

.light-mode {
  @include angular-material-theme($light-theme);

  mat-toolbar[navbar] {
    box-shadow: 0 2px 1px -1px #0d102517;
    margin-bottom: 2px;
  }

  img[src$='.svg'] {
    filter: brightness(0) saturate(100%);
    opacity: 0.87;
  }
}

.dark-mode {
  @include angular-material-theme($dark-theme);

  img[src$='.svg'] {
    filter: brightness(0) saturate(100%) invert(1);
  }
}
