<mat-sidenav-container>
  <mat-sidenav mode="side" opened *ngIf="isLargeScreen" showcase>
    <obum-showcase></obum-showcase>
  </mat-sidenav>

  <mat-sidenav
    #drawer
    position="end"
    fixedInViewport="true"
    fixedTopGap="64"
    drawer
  >
    <mat-list>
      <a
        [routerLink]="link.path"
        *ngFor="let link of links"
        [routerLinkActive]="['active-nav-link']"
        [routerLinkActiveOptions]="{ exact: true }"
        mat-list-item
        >{{ link.content }}</a
      >
      <button mat-list-item (click)="changeTheme()">
        {{
          capitalize(
            (themes.indexOf(cssClass) == 0 ? themes[1] : themes[0]).split(
              '-'
            )[0]
          )
        }}
        Theme
      </button>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content #matSidenavContent>
    <mat-toolbar *ngIf="!showcaseInView.value" navbar>
      <mat-toolbar-row>
        <a routerLink="/#" mat-button *ngIf="!isLargeScreen">
          <p>
            <img src="assets/svgs/blue-o.svg" alt="O" />
            <span>bum</span>
          </p>
        </a>

        <span spacer></span>

        <ng-container *ngIf="isTabletScreen">
          <a
            [routerLink]="link.path"
            *ngFor="let link of links"
            [routerLinkActive]="['active-nav-link']"
            [routerLinkActiveOptions]="{ exact: true }"
            mat-button
            >{{ link.content }}</a
          >
        </ng-container>

        <button
          mat-icon-button
          (click)="changeTheme()"
          title="Switch Theme"
          *ngIf="isTabletScreen"
        >
          <img
            [src]="
              'assets/svgs/' +
              (themes.indexOf(cssClass) == 0 ? themes[1] : themes[0]) +
              '.svg'
            "
            alt=""
          />
        </button>
        <button
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="!isTabletScreen"
        >
          <img src="assets/svgs/menu.svg" alt="" />
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <main>
      <router-outlet></router-outlet>

      <footer>
        <mat-toolbar *ngIf="!showcaseInView.value">
          <mat-toolbar-row>
            <a routerLink="/#" mat-button>
              <img src="assets/svgs/blue-o.svg" alt="O" />bum
            </a>
            &copy; {{ year }}, All Rights Reversed.
          </mat-toolbar-row>
        </mat-toolbar>
      </footer>
    </main>

    <button
      mat-fab
      (click)="scrollToTop()"
      class="hide-scroll"
      title="Switch Theme"
      [class.show-scroll]="hasScrolled"
      [class.second-from-bottom]="router.url !== '/'"
    >
      <img src="assets/svgs/up.svg" alt="Up" />
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
