<div app-container>
  <mat-toolbar *ngIf="!mobProfShowInView && !isLargeScreen" mobile-header>
    <mat-toolbar-row>
      <button mat-icon-button (click)="scrollToTop()" title="Home">
        <img src="assets/svgs/home.svg" alt="" />
      </button>
      <span class="spacer"></span>
      <span>Obum 😎</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="changeTheme()" title="Switch Theme">
        <img
          [src]="
            'assets/svgs/' +
            (themes.indexOf(cssClass) == 0 ? themes[1] : themes[0]) +
            '.svg'
          "
          alt=""
        />
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav mode="side" opened *ngIf="isLargeScreen">
      <obum-showcase></obum-showcase>
    </mat-sidenav>

    <mat-sidenav-content>
      <div
        (nguiInview)="mobProfShowInView = true"
        (nguiOutview)="mobProfShowInView = false"
        #mobileProfileShowcase
      >
        <obum-showcase></obum-showcase>
      </div>

      <nav mat-tab-nav-bar mat-stretch-tabs>
        <a
          mat-tab-link
          *ngFor="let tab of uiTabs"
          [active]="activeTab === tab"
          [routerLink]="tab"
          (click)="activeTab = tab"
        >
          <img
            [src]="'assets/svgs/' + tab + '.svg'"
            class="tab-header-icon"
            alt=""
          />
          <span class="tab-label-text">{{ capitalize(tab) }}</span>
        </a>
      </nav>

      <div class="tab-content">
        <obum-card *ngFor="let c of content" [content]="c"></obum-card>
      </div>

      <button
        mat-fab
        (click)="changeTheme()"
        title="Switch Theme"
        *ngIf="isLargeScreen"
      >
        <img
          [src]="
            'assets/svgs/' +
            (themes.indexOf(cssClass) == 0 ? themes[1] : themes[0]) +
            '.svg'
          "
          alt=""
        />
      </button>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
