#app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-sidenav-container {
  flex: 1 1 auto;
}

mat-sidenav {
  padding: 8px;
  max-width: 312px;
}

#profile-showcase {
  padding-top: 64px;
  padding-bottom: 16px;
}

#ps-img-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0 auto 16px;
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ps-img-container img {
  width: 280px;
  border-radius: 50%;
  box-shadow: 0 0 8px 3px black;
}

h1.mat-display-1 {
  margin-bottom: 8px;
  text-align: center;
}

#social-icons {
  text-align: center;
}

.social-icon {
  width: 32px;
  margin-left: 8px;
}

#profile-showcase ul {
  text-align: left;
  max-width: 420px;
  margin: 16px auto 0;
}

.mat-tab-group.body {
  margin-top: 16px;
}

:host ::ng-deep .mat-tab-header {
  top: 0;
  z-index: 1000;
  position: sticky;
}

.tab-label-text {
  display: inline-block;
  margin-left: 8px;
}

.tab-content {
  padding: 32px;
}

button[mat-fab] {
  position: fixed;
  bottom: 32px;
  right: 48px;
  z-index: 100;
}

@media (min-width: 768px) {
  #ps-img-container {
    width: 235px;
    height: 235px;
  }

  #ps-img-container img {
    width: 220px;
  }
}

@media (min-width: 768px) and (max-width: 991.99px) {
  #profile-showcase {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #ps-img-container {
    margin: 0;
  }

  #social-icons {
    text-align: left;
    padding-left: 16px;
  }
}

@media (max-width: 991.99px) {
  mat-sidenav {
    display: none;
  }
}

@media (min-width: 992px) {
  mat-sidenav-content #profile-showcase {
    display: none;
  }

  .mat-tab-group.body {
    margin-top: 0;
  }
}

@media (min-width: 1537px) {
  mat-sidenav {
    margin: 32px 0;
    border: 2px dashed;
    border-right: none;
    left: calc((100% - 1536px) / 2);
  }

  mat-sidenav-content {
    margin: 32px 0;
    border: 2px dashed;
    border-left: none;
    max-width: 1224px; // 1536 - 312 (the fixed width mat-sidenav; set above)
    margin-left: calc(((100% - 1536px) / 2) + 312px) !important;
    height: calc(100% - 68px);
  }

  button[mat-fab] {
    right: calc(((100% - 1536px) / 2) + 48px);
    bottom: 64px;
  }
}

@media (min-width: 1537px) and (min-height: 1081px) {
  mat-sidenav,
  mat-sidenav-content {
    max-height: 1076px;
  }

  button[mat-fab] {
    bottom: calc(100% - 1080px);
  }
}
