#app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-sidenav-container {
  flex: 1 1 auto;
}

mat-sidenav {
  padding: 8px;
  max-width: 312px;
}

mat-sidenav #profile-icons {
  max-width: 228px;
  margin: 0 auto 1rem;
}

mat-sidenav #profile-showcase {
  padding-top: 32px;
}

#profile-showcase {
  padding-top: 96px;
  padding-bottom: 48px;
}

#ps-img-container {
  width: 228px;
  height: 228px;
  border-radius: 50%;
  margin: 0 auto 16px;
  background-color: currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ps-img-container img {
  width: 220px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px gray;
}

#full-name {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
}

#obum-container {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;

  span {
    font-weight: bold;
    font-size: 1.125rem;
    letter-spacing: 0.8px;
  }
}

#profile-icons {
  text-align: center;
  margin-bottom: 1rem;
}

.profile-icon {
  width: 30px;
  margin-left: 8px;
}

#profile-showcase ul {
  text-align: left;
  max-width: 420px;
  margin: 0 auto;

  li {
    margin-bottom: 2px;
  }
}

.tab-header-svg {
  width: 24px;
  margin-right: 8px;
}

.tab-label-text {
  display: inline-block;
  margin-left: 8px;
}

.tab-content {
  padding: 32px;

  @media (min-width: 576px) {
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px;
  }

  @media (min-width: 1250px) {
    gap: 48px;
    grid-template-columns: auto auto auto;
  }
}

mat-card[coding] {
  max-width: 288px;
  border-radius: 12px;
  margin: 48px auto;

  @media (min-width: 576px) {
    margin: 0 auto;
  }

  mat-card-title {
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: normal;
    text-decoration: underline double 0.6px;
  }

  mat-card-actions {
    text-align: right;
    margin-bottom: unset;
    margin-right: unset;
    padding-bottom: unset;
  }
}

.card-icon {
  width: 16px;
  margin-left: 8px;
}

button[mat-fab] {
  position: fixed;
  bottom: 32px;
  right: 48px;
  z-index: 100;
}

@media (min-width: 768px) {
  #profile-showcase {
    padding-top: 32px;
  }
}

@media (min-width: 768px) and (max-width: 991.99px) {
  #profile-showcase {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #ps-img-container {
    margin: 0;
  }

  #full-name,
  #obum-container {
    width: fit-content;
    padding-left: 20px;
  }

  #profile-icons {
    text-align: left;
    padding-left: 16px;
  }
}

@media (max-width: 991.99px) {
  mat-sidenav {
    display: none;
  }
}

@media (min-width: 992px) {
  mat-sidenav-content #profile-showcase {
    display: none;
  }

  .mat-tab-group.body {
    margin-top: 0;
  }
}

@media (min-width: 1537px) {
  mat-sidenav {
    margin: 32px 0;
    border: 2px dashed;
    border-right: none;
    left: calc((100% - 1536px) / 2);
  }

  mat-sidenav-content {
    margin: 32px 0;
    border: 2px dashed;
    border-left: none;
    max-width: 1224px; // 1536 - 312 (the fixed width mat-sidenav; set above)
    margin-left: calc(((100% - 1536px) / 2) + 312px) !important;
    height: calc(100% - 68px);
  }

  button[mat-fab] {
    right: calc(((100% - 1536px) / 2) + 48px);
    bottom: 64px;
  }
}

@media (min-width: 1537px) and (min-height: 1081px) {
  mat-sidenav,
  mat-sidenav-content {
    max-height: 1076px;
  }

  button[mat-fab] {
    bottom: calc(100% - 1080px);
  }
}
