*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

:root {
  --app-bg: #fff;
  --blue-royal: #101e9f;
  --blue-turquoise: #03a9f4;
  --gray: #808080;
  --primary: var(--blue-royal);
  --text: #1a1a1a;
}

body {
  background-color: var(--app-bg);
  color: var(--text);
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

body.dark {
  --app-bg: #000;
  --primary: var(--blue-turquoise);
  --text: #fff;
}

body.dark .p-component-overlay.p-sidebar-mask {
  background-color: #fff6 !important;
}

body.dark .p-menu .p-menuitem-content:hover {
  background-color: #222;
}

body:not(.dark) footer [icons] {
  color: var(--primary);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: unset;
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

footer {
  margin-top: auto;
}

ul li {
  list-style: none;
}

.p-sidebar {
  background-color: var(--app-bg);
  border: none;
  color: var(--text);
  padding: 1.5rem;
}

.p-sidebar-close {
  color: var(--text);
  height: 3rem;
  width: 3rem;
}

.p-sidebar-content {
  display: flex;
  flex-direction: column;
}

.p-sidebar-content [icons] {
  margin-bottom: 1rem;
  margin-top: auto;
}

.p-menu {
  background-color: var(--app-bg);
}

.p-menu [menu-item] {
  align-items: center;
  color: var(--text);
  display: flex;
  padding: 0.5rem;
}

.p-menu [menu-item] svg {
  line-height: 0;
  margin-right: 1rem;
}

#contact-menu {
  border-color: currentColor;
}

[page-heading] {
  font-weight: 500;
  font-size: 2rem;
  margin: 0 auto 1rem;
  max-width: 1440px;
}

[page-intro],
[page-content] {
  margin: 0 auto 5rem;
  max-width: 1440px;
}

[underline] {
  text-decoration: underline;
}

[primary] {
  color: var(--primary);
}

[filled] {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 32px;
  color: var(--app-bg);
}

[filled]:hover {
  background-color: var(--app-bg);
  box-shadow: inset 0 0 8px var(--primary);
  color: var(--primary);
}

[outlined] {
  background-color: var(--app-bg);
  border: 1px solid var(--primary);
  border-radius: 32px;
  color: var(--primary);
}

[outlined]:hover {
  background-color: var(--primary);
  color: var(--app-bg);
}

@media (max-width: 767.98px) {
  #app {
    padding-top: 4rem;
  }
}

@media (min-width: 768px) {
  #app {
    padding-top: 5rem;
  }

  .p-sidebar {
    display: none;
  }
}

@media (min-width: 1440px) {
  #app {
    border: 2px dashed;
    margin: 0 auto 3rem;
    max-width: 1440px;
  }
  
  [page-heading] {
    margin-top: 2rem;
  }
}
