@import '~@angular/material/theming';
@include mat-core();

$palette: mat-palette($mat-light-blue);
$light-theme: mat-light-theme($palette, $palette);
$dark-theme: mat-dark-theme($palette, $palette);

.light-mode {
  @include angular-material-theme($light-theme);

  img[src$=".svg"] {
    filter: brightness(0) saturate(100%);
    opacity: 0.87;
  }
}

.dark-mode {
  @include angular-material-theme($dark-theme);

  img[src$=".svg"] {
    filter: brightness(0) saturate(100%) invert(1);
  }
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-tab-header {
  top: 0;
  z-index: 1000;
  position: sticky !important;
}

.mat-tab-header.sub {
  top: 49px;
}

.light-mode .mat-tab-header {
  background-color: #fafafa;
  color: #000000de;
}

.dark-mode .mat-tab-header {
  background-color: #303030;
  color: white;
}

nav[mat-tab-nav-bar] .mat-tab-label-active {
  opacity: 1;
}
