@import '@angular/material/theming';
@include mat-core();

$palette: mat-palette($mat-light-blue);
$light-theme: mat-light-theme($palette, $palette);
$dark-theme: mat-dark-theme($palette, $palette);

.light-mode {
  @include angular-material-theme($light-theme);

  mat-toolbar[navbar] {
    box-shadow: 0 2px 1px -1px #0d102517;
    margin-bottom: 2px;
  }

  img[src$='.svg'] {
    filter: brightness(0) saturate(100%);
    opacity: 0.87;
  }
}

.dark-mode {
  @include angular-material-theme($dark-theme);

  img[src$='.svg'] {
    filter: brightness(0) saturate(100%) invert(1);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

[spacer] {
  flex: 1 1 auto;
}

[cards] {
  padding: 32px;

  @media (min-width: 576px) {
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px;
  }

  @media (min-width: 1250px) {
    gap: 48px;
    grid-template-columns: auto auto auto;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px gray;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  // primary color for light blue (level 500) with opacity
  background: #03a9f480;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  // primary color for light blue (level 500)
  background: #03a9f4;
}

button[mat-fab] {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 100;

  img {
    filter: brightness(0) saturate(100%) !important;
    margin-top: -8px;
    opacity: 0.87;
    width: 80%;
  }
}

button[mat-fab].second-from-bottom {
  bottom: 112px;
}

@media (min-width: 576px) {
  button[mat-fab] {
    right: 48px;
  }
}

@media (min-width: 1537px) {
  button[mat-fab] {
    right: calc(((100% - 1536px) / 2) + 48px);
    bottom: 64px;
  }

  button[mat-fab].second-from-bottom {
    bottom: 144px;
  }
}

@media (min-width: 1537px) and (min-height: 1081px) {
  button[mat-fab] {
    bottom: calc(100% - 1080px);
  }

  button[mat-fab].second-from-bottom {
    bottom: calc(100% - 1170px);
  }
}

.mat-menu-panel {
  margin-bottom: -64px;
  margin-right: 64px;
}

