@import '@angular/material/theming';
@include mat-core();

$palette: mat-palette($mat-light-blue);
$light-theme: mat-light-theme($palette, $palette);
$dark-theme: mat-dark-theme($palette, $palette);

.light-mode {
  @include angular-material-theme($light-theme);

  mat-toolbar[navbar] {
    box-shadow: 0 2px 1px -1px #0d102517;
    margin-bottom: 2px;
  }

  img[src$='.svg'] {
    filter: brightness(0) saturate(100%);
    opacity: 0.87;
  }
}

.dark-mode {
  @include angular-material-theme($dark-theme);

  img[src$='.svg'] {
    filter: brightness(0) saturate(100%) invert(1);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

[spacer] {
  flex: 1 1 auto;
}

[cards] {
  padding: 32px;

  @media (min-width: 576px) {
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px;
  }

  @media (min-width: 1250px) {
    gap: 48px;
    grid-template-columns: auto auto auto;
  }
}
