<div
  showcase-container
  (nguiInview)="showcaseInView.value = true"
  (nguiOutview)="showcaseInView.value = false"
>
  <obum-showcase></obum-showcase>
</div>

<section *ngFor="let key of categoryKeys">
  <div
    parallax
    [style.background-image]="'url(assets/images/obum-' + key + '.png)'"
  >
    {{ capitalize(key) }}
  </div>

  <div cards>
    <obum-card
      *ngFor="let content of category(key)"
      [content]="content"
    ></obum-card>
  </div>

  <div more-container>
    <a [routerLink]="key" mat-raised-button color="primary">
      ... all {{ capitalize(ctaCategory(key)) }}
    </a>
  </div>
</section>
