/**
 * Contains styles for main content
 */

main .content-container {
  padding-top: 35px;
}

.content-container .text-subheading {
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  text-decoration: none;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  max-width: 400px;
}

.content-container .text-subheading svg {
  width: 20%;
}

.content-container .text-subheading p {
  margin: 0;
  width: 75%;
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
}

#portfolio .text-subheading {
  min-width: 200px;
}

#portfolio .text-subheading svg {
  min-width: 65px;
}

@media screen and (min-width: 1200px) {
  hr#before-mobile-web, hr#before-linkedin-badge {
    display: none;
  }

  .content-container, #portfolio, #contact-me {
    width: 47%;
  }

  #digital-skills.content-container, #portfolio.content-container, #contact-me {
    float: left;
  }

  #social-and-badge-container {
    flex-direction: column;
  }

  #mobile-web.content-container {
    float: right;
  }

  main:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
  }
}
