/**
 * Contains styles for main content
 */

.content-container .text-subheading {
  background-color: hsl(238, 88%, 18%);
  color: hsl(90, 95%, 97%);
  border-radius: 15px;
  text-decoration: none;
  padding: 15px;
  margin: 15px auto;
  max-width: 350px;
}

@media screen and (min-width: 1200px) {
  hr#before-mobile-web {
    display: none;
  }

  .content-container {
    width: 47%;
  }

  hr#before-linkedin-badge, hr#before-social-icons {
    width: 37%;
    margin-top: 75px;
  }

  #digital-skills, hr#before-linkedin-badge, #portfolio,
  hr#before-social-icons, #contact-me {
    float: left;
  }

  #mobile-web.content-container {
    float: right;
  }

  main:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
  }
}
