/**
 * contains styles for nav
 */
nav {
  background-color: hsl(238, 92%, 97%);
  margin: 0;
  padding: 7.5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  box-shadow: 0px 1.5px 6px hsl(255, 5%, 50%);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav ul li a {
  text-decoration: underline;
  text-align: center;
}


nav label {
  width: 70px;
  height: 10px;
  float: right;
}

nav input, nav label svg#close-menu-icon {
  display: none;
}

nav input:unchecked + label svg#menu-icon {
  display: inline;
}

nav input:unchecked + label svg#close-menu-icon {
  display: none;
}


nav input:checked + label svg#menu-icon {
  display: none;
}
nav input:checked + label svg#close-menu-icon {
  display: inline;
}

nav:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

nav input:checked ~ ul {
  display: list-item;
  transition: all 5s;
  transition-delay: 5s;
}

