/**
 * contains styles for nav
 */
nav {
  background-color: #fff;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  box-shadow: 0px 1.5px 6px hsl(255, 5%, 50%);
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.scrolled {
  transition: all 2s;
  opacity: 1;
  height: auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav ul li {
  margin: 10px;
}


nav ul li a, nav ul li a:visited {
  color: #000000;
}

nav ul li a.active {
  text-decoration: underline;
  color: hsl(238, 88%, 18%);
}

nav ul li a:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li a span.show-at-large {
  display: none;
}

@media screen and (max-width: 767px) {
  nav label {
    width: 35px;
    float: right;
    margin: 10px 15px 0px 0px;
  }

  nav input:unchecked + label svg#menu-icon {
    display: inline;
  }

  nav input:unchecked + label svg#close-menu-icon {
    display: none;
  }

  nav input:checked + label svg#menu-icon {
    display: none;
  }
  nav input:checked + label svg#close-menu-icon {
    display: inline;
  }

  nav input:checked ~ ul {
    display: list-item;
  }

  nav ul li a span.show-at-large {
    display: none;
  }

  nav ul li a span.show-at-large:first-of-type {
    display: inline;
  }

  nav input, nav label svg#close-menu-icon {
    display: none;
  }

  nav ul li:not(:first-of-type) {
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
  }

  nav input:checked ~ label svg {
    margin-top: 7.5px;
  }

  nav input:checked ~ ul li {
    margin: 15px;
  }

  nav input:checked ~ ul li:not(:first-of-type) {
    transition: all 0.75s;
    height: auto;
    width: auto;
    visibility: visible;
    opacity: 1;
  }

  nav input:unchecked ~ ul li:not(:first-of-type) {
    transition: all 0.75s;
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
  }
  nav:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
  }
}

@media screen and (min-width: 768px) {
  nav input, nav label {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  nav ul li a span.show-at-large {
    display: inline;
  }
}

