/**
 * contains styles for nav
 */
nav {
  background-color: hsl(238, 92%, 97%);
  margin: 0;
  padding: 7.5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  box-shadow: 0px 1.5px 6px hsl(255, 5%, 50%);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav ul li a {
  text-decoration: underline;
  text-align: center;
}

nav ul li a span.show-at-large {
  display: none;
}

@media screen and (max-width: 576px) {
  nav label {
    width: 70px;
    height: 10px;
    float: right;
    }

  nav ul li:first-of-type {
    margin-left: 5%;
  }

  nav input, nav label svg#close-menu-icon, nav ul li:not(:first-of-type) {
    display: none;
  }

  nav input:unchecked + label svg#menu-icon {
    display: inline;
  }

  nav input:unchecked + label svg#close-menu-icon {
    display: none;
  }


  nav input:checked + label svg#menu-icon {
    display: none;
  }
  nav input:checked + label svg#close-menu-icon {
    display: inline;
  }

  nav:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
  }

  nav input:checked ~ ul, nav input:checked ~ ul li:not(:first-of-type) {
    display: list-item;
  }
}

@media screen and (min-width: 577px) {
  nav input, nav label {
    display: none;
  }
}

@media screen and (min-width: 950px) {
  nav ul li a span.show-at-large {
    display: inline;
  }
}

