/**
 * contains the styles controlling the social media icons and linkedin profile badge
 */



/*
 * Achieves centralisation of the linkedin profile badge and social media icons
 */
#portfolio, #contact-me {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*
 * Gives the linkedin badge a white background
 */
#linkedin-badge-container {
  background-color: white;
}

/*
 * helps in spacing out the social media icons
 */
#social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin: 10px auto;
}

/**
 * styles the social media icons when the mobile view is relatively small
 */
@media screen and (max-width: 375px) {
  .links-to-social svg {
    width: 50px;
    height: 50px;
  }
}

/**
 * Ensures the social media icons stay confined in desktop view
 */
@media screen and (min-width: 1200px) {
  #social-icons {
    width: 400px;
  }
}
