/**
 * Contains the styles for various texts
 */

/*
 * Styles the main heading
 */
#header-heading-text h1 {
  font-family: 'Source Sans Pro', sans-serif;
	font-size: 2.4rem;
  line-height: 0.9;
	letter-spacing: 0.25px;
  text-align: center;
}

/*
 * Styles the captions to headings
 */
#header-heading-text p {
  font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2rem;
	letter-spacing: 0.55px;
  word-spacing: 1.7px;
  font-style: italic;
  text-align: center;
}

/*
 * Underlines the heading of about me
 */
#header-about-text h2 {
  text-decoration: underline;
}

/*
 * Centralizes  text
 */
#header-about-text, #footer, footer {
  text-align: center;
}

/*
 * Styles the subheadings
 */
.text-subheading {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.3px;
  line-height: 0.9;
  word-spacing: 1.1px;
  text-align: center;
}

/*
 * Styles regular text
 */
.text-regular {
  font-family: 'Noto Sans JP', sans-serif;
	font-size: 1rem;
	line-height: 1.55;
	letter-spacing: 0.55px;
  word-spacing: 1.7px;
}

/*
 * styles links
 */
a, a:visited {
  color: hsl(238, 88%, 18%);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*
 * left aligns heading and subheading
 */
@media screen and (min-width: 1200px) {
  #header-heading-text h1, #header-heading-text p {
		text-align: left;
	}
}
