/**
 * Contains the styles for various texts
 */

/*
 * Centralizes text
 */
.text-center {
	text-align: center;
}

/*
 * Styles the main heading
 */
.text-heading {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 32px;
	line-height: 1;
	color: #000;
	letter-spacing: 0.45px;
}

/*
 * Styles the subheadings
 */
.text-subheading {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 1;
	color: #000;
	letter-spacing: 0.45px;
	font-weight: 500;
  text-decoration: underline;
}

/*
 * Styles the captions to headings
 */
.text-caption {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.25;
	color: #000;
	letter-spacing: 0.4px;
}

/*
 * Styles regular text
 */
.text-regular {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	letter-spacing: 0.5px;
}

/*
 * styles links
 */
a {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	text-decoration: none;
}

a:hover {
	background-color: hsl(238, 92%, 97%);
	text-decoration: underline;
	border-radius: 10px;
}

nav ul li a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
}

/**
 * contains the text styles for desktop view
 */
@media screen and (min-width: 1150px) {
	/*
	 * Styles text in desktop view
	 */
	.text-heading {
		font-size: 40px;
		letter-spacing: 0.6px;
		text-align: left;
	}

  /*
   * Styles the subheadings
   */
  .text-subheading {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.65px;
    font-weight: 500;
  }

  /*
   * styles the caption to the main heading
   */
  .text-caption {
    font-size: 18px;
	 text-align: left;
  }

  /*
   * Styles regular text in  desktop view
   */
  .text-regular {
    letter-spacing: 0.75px;
    word-spacing: 1.5px;
    line-height: 1.45;
  }
}
