a svg {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

#facebook-svg {
  width: 112px;
  height: 112px;
}

#instagram-svg {
  width: 125px;
  height: 125px;
}

#twitter-svg, #linkedin-svg{
  width: 100px;
  height: 100px;
}
