/**
 * This file contains the styles that arrange the social media icons
 * and linkedin profile badge when in mobile view
 */

/**
 * styles common to both large and small mobile views
 */
@media screen and (max-width: 1149px) {

  /*
   * invalidates the social and badge container as well as the social text and icons container
   * and badge text and icons container
   */
  #social-and-badge-container, #social-text-and-icons {
      display: block;
      margin: 0;
      padding: 0;
  }

  hr.before-linkedin-badge:nth-child(2),
  .badge-and-text-container:nth-of-type(2) {
    display: none;
  }

  /*
   * normalizes the blue underline of browsers
   */
  .links-to-social {
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  /*
   * helps in arranging the social media icons in a straight line
   */
  #social-icons {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

   /*
   * evenly arranges the social media icon in rows
   */
  .social-icons-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
    width: 100%;
  }
}

/**
 * styles the social media icons when the mobile view is relatively small
 * it places them in a grid
 */
@media screen and (max-width: 549px)  {
  /*
   * helps in arranging the social media icons in a straight line
   */
  #social-icons {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

