/**
 * This file contains the styles that arrange the social media icons
 * and linkedin profile badge when in mobile view
 */

/**
 * styles common to both large and small mobile views
 */
@media screen and (max-width: 1199px) {

  .linkedin-badge-container:nth-of-type(2) {
    display: none;
  }

  /*
   * normalizes the blue underline of browsers
   */
  .links-to-social {
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  /*
   * helps in arranging the social media icons in a straight line
   */
  #social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
  }
}

/**
 * styles the social media icons when the mobile view is relatively small
 * it places them in a grid
 */
@media screen and (max-width: 375px) {
  /*
   * helps in arranging the social media icons in a straight line
   */
  .links-to-social svg {
    width: 50px;
    height: 50px;
  }
}




