/**
 * This file contains the styles that arrange the social media icons
 * and linkedin profile badge when in desktop view
 */

@media screen and (min-width: 1150px) {
  /*
   * styles the container of the badge and social icons to lay them side-by-side
   */
  #social-and-badge-container {
      display: flex;
      align-items: start;
      justify-content: space-evenly;
      width: 100%;
  }

  /*
   * brings the icons closer to the profile picture at the extreme right
   */
  #social-icons {
    margin-left: 0px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }

  /*
   * evenly arranges the social media icon in rows
   */
  .social-icons-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 0px 10px 0px;
    width: 100%;
  }


  /*
   * normalizes the blue underline of browsers
   */
  .links-to-social {
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  /*
   * hides the hr that divides the social icons and badge in mobile
   * and the linkedin badge for mobile
   */
  hr#before-linkedin-badge, #linkedin-badge-container-mobile {
    display: none;
  }

  /*
   * styles the linkedin badge container for desktop
   * centralises it
   */
  #linkedin-badge-container-desktop {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
  }
}
