@import url("social-icons-mobile.css");
@import url("social-icons-desktop.css");

/**
 * contains the styles controlling the social media icons and linkedin profile badge
 */

/*
 * Achieves centralisation of the linkedin profile badge e
 */
#portfolio, #contact-me {
  display: flex;
  align-items: center;
  flex-direction: column;
}
