/**
 * This file contains the styles that arrange the social media icons
 * and linkedin profile badge when in desktop view
 */

@media screen and (min-width: 1150px) {
  /*
   * styles the container of the badge and social icons to lay them side-by-side
   */
  #social-and-badge-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      padding-bottom: 20px;
  }

  /*
   * helps in arranging the social media icons in a straight line
   */
  #social-icons {
    display: flex;
    justify-content: flex-start;
    min-width: 550px;
    margin-top: 20px;
  }

   /*
   * evenly arranges the social media icon in rows
   */
  .social-icons-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
    width: 100%;
  }

  /*
   * normalizes the blue underline of browsers
   */
  .links-to-social {
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  /*
   * hides the hr that divides the social icons and badge in mobile
   * and the linkedin badge for mobile
   */
  hr.before-linkedin-badge, .badge-and-text-container:nth-of-type(1) {
    display: none;
  }
}
