/**
 * This file contains the styles that arrange the social media icons
 * and linkedin profile badge when in desktop view
 */

@media screen and (min-width: 1200px) {
  /*
   * helps in arranging the social media icons in a straight line
   */
  #social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 400px;
    max-width: 400px;
    margin-top: 20px;
  }

  /*
   * normalizes the blue underline of browsers
   */
  .links-to-social {
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  /*
   * hides the hr that divides the social icons and badge in mobile
   * and the linkedin badge for mobile
   */
  .linkedin-badge-container:nth-of-type(1), hr#before-social-icons {
    display: none;
  }
}
